{% extends 'layout.html' %}
{% block container %}

<table class="table">
    <tr>
        <td>Vehicle Number</td>
        <td>Vehicle Type</td>
        <td>Vehicle Model</td>
        <td>Vehicle Description</td>
        <td>Actions</td>

    {% for i in data %}
    <tr>
    <td>{{i.vehicle_number}}</td>
    <td>{{i.vehicle_type}}</td>
    <td>{{i.vehicle_model}}</td>
    <td>{{i.vehicle_desc}}</td>
    <td><a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a><a href="{% url 'update' i.id %}" class="btn btn-primary">Edit</a>
    </tr>
    {% endfor %}

</table>

{% comment %} <button type="button" class="btn btn-success">Add</button> {% endcomment %}
<a href="{% url 'create' %}" class="btn btn-success">Add New Vehicle</a>


{% endblock  %}